{{!-- exibe mensagens de sucesso (success_msg) e erro (error_msg)
de forma condicional. Essas mensagens sao exibidas em alertas estilizados com o Bootstrap. --}}

{{#if success_msg}}
<div class="alert alert-success">
    {{success_msg}}
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger">
    {{error_msg}}
</div>
{{/if}}